.button {
  padding: 1.5rem 2.5rem;

  border: 0.3rem solid $color-background-primary;

  cursor: pointer;

  outline: none;

  font-size: 2rem;

  border-radius: $border-radius-tiny;

  @media (max-width: $break-point-3) {
    padding: 1rem 2rem;

    border: 0.1rem solid $color-background-primary;

    font-size: 1.5rem;
  }

  @media (max-width: $break-point-5) {
    padding: 0.5rem 1.5rem;

    font-size: 1rem;
  }

  &-primary {
    background-color: $color-accent-primary;
    color: $color-text-highlight;

    box-shadow: none;

    transition: all 0.3s;

    &:hover {
      box-shadow: $shadow-small;
      background-color: $color-background-primary;
      color: $color-text-secondary;
    }
  }
}
