.error-screen {
  position: absolute;
  left: 0;
  top: 0;

  z-index: 200;

  width: 100vw;
  height: 100vh;

  background-color: $color-background-modal;

  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    color: $color-text-primary;
    font-size: 3rem;

    @media (max-width: $break-point-3) {
      font-size: 2.5rem;
    }

    @media (max-width: $break-point-4) {
      font-size: 2rem;
    }

    @media (max-width: $break-point-5) {
      font-size: 1.6rem;
    }

    @media (max-width: $break-point-6) {
      font-size: 1.3rem;
    }
  }
}
